<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center ">
                <img src="../../../assets/LOGO.png" class="text-center" width="400" height="400">

                <h1 class="text-center fs-2 fw-bold margin-top:20px;"><a href="servicios"></a>SERVICIOS</h1>
            </div>
        </div>
    </div>

    <section class="contenedor1 text-center mb-2" id="servicios">
        <div class="row">
            <div class="col-lg-4">
                <figure class="mr20">
                    <img src="../../../assets/Domicilio.JPG" alt="">
                    <div class="capa" id="capa">
                        <h3>Leer mas</h3>
                        <a href="carrito.html">
                            <p>Si desea que el producto llegue a la puerta de su casa a la hora que desea</p>
                        </a>
                    </div>
                </figure>
            </div>
            <div class="col-lg-4">
            <figure>
                <img src="../../../assets/venta.png" alt="">
                <div class="capa2" id="capa2">
                    <h3>Leer mas</h3>
                    <a href="carrito.html">
                        <p> Puede comprar productos de categoria licor en tipo catalogo</p>
                    </a>

                </div>
            </figure>
        </div>
        <div class="col-lg-4">
        <figure>
            <img src="../../../assets/reserva.JPG" alt="">
            <div class="capa2" id="capa2">
                <h3>Leer mas</h3>
                <a href="carrito.html">
                    <p> Si esta cansado de las largas filas, aparte su reserva de canchas de tejo aquí
                    </p>
                </a>

            </div>
        </figure>
    </div>

        </div>
    
    </section>


</body>

</html>