<div class="container">
    <div class="row mt20" style="margin-top:20px;">
        <div class="col-md-6 offset-md-3">

            <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/LOGO.png" width="250" height="250">
                </div>
                <h1 class="text-center">Iniciar Sesion</h1>


                <form (ngSubmit) = "formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Identificacion</mat-label>
                        <input [(ngModel)] = "loginData.correo" name="correo" type="email" required matInput placeholder="Digite su nombre">
                        <mat-hint>Digite su numero de identificacion</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input [(ngModel)] = "loginData.contrasena" required name="contrasena" type="password" matInput placeholder="Digite su contraseña">
                        <mat-hint>La contraseña debe ser valida</mat-hint>
                    </mat-form-field>
                    <div class="container text-center">
                        <button mat-raised-button color="primary" [value]="">Iniciar Sesion</button>
                    </div>
                </form>
            </mat-card>


        </div>
    </div>

</div>